name: Flake check
run-name: Flake check for ${{ github.ref_name }} by ${{ github.actor }}
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  check:
    timeout-minutes: 32
    name: Check flake on ${{ matrix.system }}
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - system: aarch64-darwin
            runner: macos-latest
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
          - system: x86_64-darwin
            runner: macos-15-intel
          - system: x86_64-linux
            runner: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - name: Set up Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: heitor
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Run flake check
        run: nix flake check --accept-flake-config
